<div id="loader">
    <img id="logoImage" src="images/loading.gif">
</div>

</textarea>
<div class="shadow-before"></div>
<div class="header-part">
    <div class="logo-menu-part">
        <div class="container">
            <div class="row">
                <div class="header-mob clearfix">
                    <div class="col-xs-10">
                        <div class="mobile-menu-left">
                            <ul class="tabs">
                                <li class="active"><a href="#tab-1" data-div="tab-1"><img src="images/imgpsh_fullsize.png"></a></li>
                                <li><a href="#tab-3" data-div="tab-3"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#tab-4" data-div="tab-4"><i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 ">
                        <div class="mobile-menu-right text-right">
                            <span><img src="images/mobBar.png"  data-image="images/closeMenu.png"></span>
                            <div class="right-menu">
                                <ul>
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="#">ABOUT</a></li>
                                    <li><a href="#">Projects</a></li>
                                    <li class="hidden-sm hidden-xs"><a href="#">Process</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="assistive-header-part">
    <div class="assistive-header-top">
        <div class="container">
            <div class="row">
                <ul class="tabs">
                    <li class="active"><a href="#tab-1" data-div="tab-1"><img src="images/imgpsh_fullsize.png">
                        <h3>OPEN ASSISTIVE</h3></a></li>
                    <li><a href="#tab-2" data-div="tab-2"><h3>ABOUT</h3></a></li>
                    <li><a href="#tab-3" data-div="tab-3"><i class="fa fa-plus" aria-hidden="true"></i>
                        <h3>ADD</h3></a></li>
                    <li><a href="#tab-4" data-div="tab-4"><i class="fa fa-search" aria-hidden="true"></i>
                        <h3>SEARCH</h3></a></li>
                    <li><a href="#tab-5" data-div="tab-5"><h3>CONTACT</h3></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tab-1" class="tab-content active">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="assist-content-text">
                        <h1>OPEN ASSISTIVE TECH</h1>
                        <h4>A LIBRARY FOR OPEN SOFTWARE AND HARDWARE PROJECTS</h4>
                        <div class="input-form search-content">
                            <input type="text" class="form-control search-url"
                                   placeholder="MORE Search or paste your GitHub, Dropbox or Thingiverse projects’s url here">
                            <button class="search-btn">Tell me more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-2" class="tab-content">
        <div class="about-us-back">
            <div class="container">
                <div class="row">
                    <div class="cl-md-12">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="about-us-content">
                                <h3>ABOUT US</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Ad culpa dolor dolore ea, eaque error ex, ipsum modi quisquam
                                    rem sequi tempore temporibus vel. Accusamus amet animi
                                    aperiam, asperiores assumenda blanditiis corporis
                                    culpa eius harum in libero magnam minus quasi ratione
                                    repellat repudiandae, saepe sed. Autem cumque modi nam voluptas!
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-3" class="tab-content add">
        <div class="add-part-head">
            <div class="container">
                <div class="row">
                    <div class="input-form search-content ">
                        <input type="text" class="form-control search-url"
                               placeholder="MORE Search or paste your GitHub, Dropbox or Thingiverse projects’s url here">
                        <button class="search-btn">Tell me more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="add-part-content">
                    <div class="col-md-12">
                        <div class="add-part-inputs">
                            <h3>SET YOUR DESIGN FREE!</h3>
                            <label for="dropbox-type">Type</label><br>
                            <select id="dropbox-type" class="form-control">
                                <option value="hardware">Hardware</option>
                                <option value="software">Software</option>
                            </select><br>
                            <label for="dropbox-name">Name</label><br>
                            <input id="dropbox-name"type="text" class="form-control" placeholder="Dropbox Shared Folder"><br>
                            <div>
                            <label for="dropbox-tags">Tags</label><br>
                            <select class="form-control" id="dropbox-tags" multiple="multiple" style="width: 100%">
                                    <option value="accessing the web">
                                        Accessing the Web
                                    </option>

                                    <option value="alternative access">
                                        Alternative Access
                                    </option>

                                    <option value="alternative and augmentative communication">
                                        Alternative and Augmentative Communication
                                    </option>

                                    <option value="communication">
                                        Communication
                                    </option>

                                    <option value="computer automation">
                                        Computer Automation
                                    </option>

                                    <option value="educational and learning">
                                        Educational and Learning
                                    </option>

                                    <option value="general tools">
                                        General Tools
                                    </option>

                                    <option value="learning and education">
                                        Learning and Education
                                    </option>

                                    <option value="learning and eductation">
                                        Learning and Eductation
                                    </option>

                                    <option value="oatsoft">
                                        OATSoft
                                    </option>

                                    <option value="on screen keyboard projects">
                                        On Screen Keyboard Projects
                                    </option>

                                    <option value="other function">
                                        Other function
                                    </option>

                                    <option value="other need">
                                        Other need
                                    </option>

                                    <option value="possible-404">
                                        Possible-404
                                    </option>

                                    <option value="switch input software">
                                        Switch Input Software
                                    </option>

                                    <option value="symbol library">
                                        Symbol Library
                                    </option>

                                    <option value="symbols">
                                        Symbols
                                    </option>

                                    <option value="text input projects">
                                        Text input Projects
                                    </option>

                                    <option value="text to speech">
                                        Text to Speech
                                    </option>

                                    <option value="using the mouse">
                                        Using the Mouse
                                    </option>

                                    <option value="viewing the screen">
                                        Viewing the screen
                                    </option>
                            </select>
                            </div>
                            <br>
                            <label for="dropbox-desc">Description</label><br>
                            <textarea  id="dropbox-desc"   class="form-control"></textarea><br>


                            <input id="dropbox-data" type="hidden"><br>
                            <button class="set-it-btn">SET IT FREE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-4" class="tab-content search-part">
        <div class="add-part-head search-head-part">
            <div class="container">
                <div class="row">
                    <div class="input-form search-content">
                        <input type="text" class="form-control  search-url"
                               placeholder="MORE Search or paste your GitHub, Dropbox or Thingiverse projects’s url here" >
                        <button class="search-btn">FIND IT</button>
                        <button class="search-br-btn">BROWSE</button>
                    </div>
                </div>
            </div>
        </div>
<!--
			<header class="clearfix">
				<h1>{{ with .Site.Params.title }}{{ . | markdownify }}{{ end }}<span>{{ with .Site.Params.subtitle }}{{ . | markdownify }}{{ end }}</span></h1>
			</header>-->