<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">


    <link rel="stylesheet" type="text/css" href="css/component.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style.css">


    <script src="js/modernizr.custom.js"></script>
</head>
<body>
<div class="shadow-before"></div>
<div class="header-part">
    <div class="logo-menu-part">
        <div class="container">
            <div class="row">
                <div class="header-mob clearfix">
                    <div class="col-xs-10">
                        <div class="mobile-menu-left">
                            <ul class="tabs">
                                <li class="active"><a href="#tab-1" data-div="tab-1"><img src="images/imgpsh_fullsize.png"></a></li>
                                <li><a href="#tab-3" data-div="tab-3"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#tab-4" data-div="tab-4"><i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 ">
                        <div class="mobile-menu-right text-right">
                            <span><img src="images/mobBar.png"  data-image="images/closeMenu.png"></span>
                            <div class="right-menu">
                                <ul>
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="#">ABOUT</a></li>
                                    <li><a href="#">Projects</a></li>
                                    <li class="hidden-sm hidden-xs"><a href="#">Process</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="assistive-header-part">
    <div class="assistive-header-top">
        <div class="container">
            <div class="row">
                <ul class="tabs">
                    <li class="active"><a href="#tab-1" data-div="tab-1"><img src="images/imgpsh_fullsize.png">
                        <h3>OPEN ASSISTIVE</h3></a></li>
                    <li><a href="#tab-2" data-div="tab-2"><h3>ABOUT</h3></a></li>
                    <li><a href="#tab-3" data-div="tab-3"><i class="fa fa-plus" aria-hidden="true"></i>
                        <h3>ADD</h3></a></li>
                    <li><a href="#tab-4" data-div="tab-4"><i class="fa fa-search" aria-hidden="true"></i>
                        <h3>SEARCH</h3></a></li>
                    <li><a href="#tab-5" data-div="tab-5"><h3>CONTACT</h3></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tab-1" class="tab-content active">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="assist-content-text">
                        <h1>OPEN ASSISTIVE TECH</h1>
                        <h4>A LIBRARY FOR OPEN SOFTWARE AND HARDWARE PROJECTS</h4>
                        <div class="input-form">
                            <input type="text" class="form-control"
                                   placeholder="MORE Search or paste your GitHub, Dropbox or Thingiverse projects’s url here">
                            <button>SHARE IT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-2" class="tab-content">
        <div class="about-us-back">
            <div class="container">
                <div class="row">
                    <div class="cl-md-12">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="about-us-content">
                                <h3>ABOUT US</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Ad culpa dolor dolore ea, eaque error ex, ipsum modi quisquam
                                    rem sequi tempore temporibus vel. Accusamus amet animi
                                    aperiam, asperiores assumenda blanditiis corporis
                                    culpa eius harum in libero magnam minus quasi ratione
                                    repellat repudiandae, saepe sed. Autem cumque modi nam voluptas!
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-3" class="tab-content add">
        <div class="add-part-head">
            <div class="container">
                <div class="row">
                    <div class="input-form">
                        <input type="text" class="form-control"
                               placeholder="MORE Search or paste your GitHub, Dropbox or Thingiverse projects’s url here">
                        <button>SHARE IT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="add-part-content">
                    <div class="col-md-12">
                        <div class="add-part-inputs">
                            <h3>SET YOUR DESIGN FREE!</h3>
                            <label>Type</label><br>
                            <input type="text" class="form-control" placeholder="Dropbox Shared Folder"><br>
                            <label>Name</label><br>
                            <input type="text" class="form-control" placeholder="Dropbox Shared Folder"><br>
                            <label>Description</label><br>
                            <input type="text" class="form-control" placeholder="Dropbox Shared Folder"><br>
                            <button>SET IT FREE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-4" class="tab-content search-part">
        <div class="add-part-head search-head-part">
            <div class="container">
                <div class="row">
                    <div class="input-form">
                        <input type="text" class="form-control"
                               placeholder="MORE Search or paste your GitHub, Dropbox or Thingiverse projects’s url here">
                        <button>FIND IT</button>
                        <button>BROWSE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tags-part-content-all">
                        <div class="tags-bar-content">
                            <form id="filter-form" action="#">
                                <input name="tag" type="text" class="form-control input--xlarge" placeholder="Browse by tag" autofocus="autofocus">
                            </form>
                            <section>

                                <a class="tag tag-primary" href="#" data-tag="accessing the web">
                                    Accessing the Web
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="alternative access">
                                    Alternative Access
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="alternative and augmentative communication">
                                    Alternative and Augmentative Communication
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="communication">
                                    Communication
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="computer automation">
                                    Computer Automation
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="educational and learning">
                                    Educational and Learning
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="environmental control">
                                    Environmental Control
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="general tools">
                                    General Tools
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="learning and education">
                                    Learning and Education
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="learning and eductation">
                                    Learning and Eductation
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="oatsoft">
                                    OATSoft
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="on screen keyboard projects">
                                    On Screen Keyboard Projects
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="other function">
                                    Other function
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="other need">
                                    Other need
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="possible-404">
                                    Possible-404
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="switch input software">
                                    Switch Input Software
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="symbol library">
                                    Symbol Library
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="symbols">
                                    Symbols
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="text input projects">
                                    Text input Projects
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="text to speech">
                                    Text to Speech
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="using the mouse">
                                    Using the Mouse
                                </a>

                                <a class="tag tag-primary" href="#" data-tag="viewing the screen">
                                    Viewing the screen
                                </a>

                            </section>
                        </div>
                        <div class="tags-projects-part">
                            <h3>All projects</h3>

                            <h4>Tags 1</h4>
                            <ul class="tags-part">
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="#">Project 1</a> </li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="#">Project 2</a> </li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="#">Project 3</a> </li>
                            </ul>
                            <h4>Tag 2</h4>
                            <ul>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="#">Project 4</a> </li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i><a href="#">Project 5</a> </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="tab-5" class="tab-content contact-part">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="contact-form">
                            <h3 class="light">Test it here</h3>
                            <form method="POST" action="http://formspree.io/YOUREMAILHERE">
                                <input type="email" class="form-control" name="email" placeholder="Your email">
                                <textarea name="message" class="form-control" placeholder="Your message"></textarea>
                                <button type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="js/init.js"></script>
<script src="js/grid.js"></script>

<script>
    $(function () {


        $('.mobile-menu-right img').click(function () {
            var img       = $(this).data('image');
            var currImage = $(this).attr('src');

            $(this).attr('src',img);
            $(this).data('image',currImage);
            $(this).toggleClass('res-img');

            $('body').toggleClass('overflow')

            $('.shadow-before').fadeToggle();
            $('.right-menu').toggleClass('openMenu-right');
        });

    });
</script>

<script>
    $(function () {
        Grid.init();
    });
</script>

</body>
</html>